<?xml version="1.0" encoding="UTF-8"?>
<!--so this shit works, but cannot change anything
ovo sranje radi ali sta god promenis nece da uzme-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %clr(%-5level){INFO=green;WARN=yellow;ERROR=red} %clr([%15.15thread]){magenta} %clr([%40.40logger{39}]){cyan} : %clr(%msg){INFO=green;WARN=yellow;ERROR=red}%n
            </pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>